In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel('D:/Tugas/KULIAH/SMT6/DataMining/UAS/dataset_UAS-main/dataset_UAS-main/soal1.xlsx')

In [4]:
data.head()

      Age  Income Student Credit_rating Class (buy_computer)
0   <= 30    High      No          Fair                   No
1   <= 30    High      No     Excellent                   No
2  31..40    High      No          Fair                  Yes
3    > 40  Medium      No          Fair                  Yes
4    > 40     Low     Yes          Fair                  Yes

In [5]:
data.shape

(51, 5)

In [10]:
data['Credit_rating'].value_counts()

Fair         31
Excellent    20
Name: Credit_rating, dtype: int64

In [11]:
PFair= 31/51
PExc = 20/51

In [12]:
print(PFair)

0.6078431372549019

In [13]:
print(PExc)

0.39215686274509803

In [14]:
pd.crosstab(data['Student'], data['Credit_rating'])

Credit_rating  Excellent  Fair
Student
No                     8    16
Yes                   12    15

In [15]:
PNoStdExc = 8/20
PYesStdExc = 12/20

PNostdFair = 16/31
PYesStdFair = 15/31

PStdNo = 24/51
PStdYes = 27/51

print(PStdYes)

0.5294117647058824

In [16]:
# Kondisi B dimana
# Student = Yes
# Income = Low
# A = Credit_rating
# P(A|B) = P(Credit_rating|StudentYes, IncomeLow)

In [17]:
pd.crosstab(data['Income'], data['Credit_rating'])

Credit_rating  Excellent  Fair
Income
High                   5     6
Low                    8    13
Medium                 7    12

In [18]:
PHIncomeExc = 5/20
PLIncomeExc = 8/20
PMIncomeExc = 7/20

PHIncomeFair = 6/31
PLIncomeFair = 13/31
PMIncomeFair = 12/31

PHIncome = 11/51
PLIncome = 21/51
PMIncome = 19/51

In [20]:
PExc1 = ((PExc*PYesStdExc*PLIncomeExc)/(PStdYes*PLIncome))
print(PExc1)

0.43174603174603177

In [21]:
PFair1 = ((PFair*PYesStdFair*PLIncomeFair)/(PStdYes*PLIncome))
print(PFair1)

0.5657962109575014

In [38]:
# Probability of Excellent Credit_rating = 0.43174603174603177
# Probability of Fair Credit_Rating = 0.5657962109575014

In [22]:
PSum = PExc1+PFair1
print(PSum)

0.9975422427035332

In [23]:
Pexc = (PExc1/PSum) *100
print(Pexc)

43.28097731239092

In [24]:
Pfair = (PFair1*PSum) *100
print(Pfair)

56.440562119170735